<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Demo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="row">
         <div class="col">
           <% if flash[:notice].present? %>
           <div class="alert alert-success" role="alert">
             <p><%= flash[:notice] %></p>
           </div>
           <% end %>
           <% if flash[:alert].present? %>
           <div class="alert alert-danger" role="alert">
             <p><%= flash[:alert] %></p>
           </div>
           <% end %>

           <% if current_user %>
             Hi, <%= current_user.email %>
             <%= link_to('登出',destroy_user_session_path, :method => :delete) %>  
             <%= link_to('修改密码',edit_registration_path(:user))%>  
          <% else %>
            <%= link_to('注册',new_registration_path(:user)) %>
            <%= link_to('登录',new_session_path(:user)) %>
           <% end %>

           <%= yield %>
           <% if current_user && current_user.admin? %>
           <%= link_to "admin", admin_events_path %>
         <% end %>
         </div>
       </div>
    </div>
  </body>
</html>
